.search-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 50px 50px 0;
}

.search-button:hover {
    color: #c6c6c6 !important;
    cursor: pointer;
}

.MuiPaper-root {
    padding: 0 0 30px 30px;
    background-color: #191919 !important;
    width: 500px;
    min-height: 100px;
}

.search-items-container {
    display: flex;
    flex-wrap: wrap;
}

.search-section-title {
    font-size: 26px;
    color: #767676;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.search-item {
    color: #c6c6c6;
    font-size: 20px;
    margin: 10px 30px 10px 0;
    cursor: pointer;
}

.search-item-active {
    color: #d3864d;
    font-size: 20px;
    margin: 10px 30px 10px 0;
    cursor: pointer;
}

.search-item-active,
.search-item:hover {
    color: #d3864d;
}

.search-section-title:hover {
    color: #c6c6c6;
}