.chart-text {
    color: #767676;
    margin-bottom: 10px;
}

.chart-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 25px 0 0 25px;
    padding-bottom: 15px;
    box-shadow: 0 0 20px 10px, 0 0 20px 10px;
}

.chart-title {
    color: #767676;
    align-self: flex-end;
    margin: 10px 15px 0 0;
    text-transform: uppercase;
    cursor: pointer;
}

.chart-title:hover {
    color: #c6c6c6
}

.chart-last-value {
    position: absolute;
    font-size: 36px;
    color: #767676;
    opacity: 0.3;
}

.chart-route-title {
    color: #d3864d;
}
