.nav-bar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 125px;
}

.nav-label {
    color: #767676;
    text-transform: uppercase;
}

.nav-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.nav-button-active {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.nav-button:hover > .nav-label,
.nav-button:hover > .MuiSvgIcon-root {
    color: #c6c6c6 !important;
}

.nav-button-active > .nav-label,
.nav-button-active > .MuiSvgIcon-root {
    color: #d3864d !important;
}
