.nav-bar 
    display: flex
    justify-content: center

    .nav-item
        margin: 10px 20px 25px 20px
        svg
            color: $grey
            font-size: 54px !important
        .nav-label
            color: $grey
            text-transform: uppercase
            text-align: center
            font-size: 18px
        &.nav-item-active
            .MuiSvgIcon-root, .nav-label
                color: $blue !important
        &:hover
            .MuiSvgIcon-root, .nav-label
                color: $grey !important
        &:active
            .MuiSvgIcon-root, .nav-label
                color: $blue !important
                opacity: 0.5
