.recharts-text {
    fill: #c6c6c6;
}

.recharts-radar,
.recharts-rectangle {
    fill: #d3864d;
    opacity: 0.5;
}

.recharts-symbols {
    fill: #d3864d;
}

.scatter-timestamp {
    position: absolute;
    font-size: 40px;
    color: #767676;
    opacity: 0.25;
}