@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

body {
    background-color: #0f0f0f;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

::selection {
    color: #c6c6c6;
}
